##################################
# Python
##################################
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.cache/

##################################
# Odoo
##################################
*.log
*.pot
*.po~
.odoo.cfg
odoo.conf

# Odoo runtime files
sessions/
filestore/
addons/*/__pycache__/

##################################
# Environnements virtuels
##################################
venv/
.env/
.venv/

##################################
# PyCharm
##################################
.idea/
*.iml

##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# Backup / temporaires
##################################
*~
*.swp
*.swo
